@use 'variables' as v;

.layout {
    max-width: 1100px;
    margin: 0 auto;
    padding: 3rem 1.7rem;
    padding-top: 4rem;
}

.features {
    display: grid;
    gap: 2rem;
}

@media (min-width: v.$desktop) {
    .intro__title {
        font-size: 2.15rem;
    }

    .intro__description {
        font-size: .9rem;
        padding: 0 30px;
    } 

    .features { 
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 2rem;
        align-items: stretch;
    }

    .card--supervisor {
        grid-column: 1;
        grid-row: 1 / span 2;
        align-self: center;
    }

    .card--team-builder {
        grid-column: 2;
        grid-row: 1;
    }

    .card--karma {
        grid-column: 2;
        grid-row: 2;
    }

    .card--calculator {
        grid-column: 3;
        grid-row: 1 / span 2;
        align-self: center;
    }
}